/*========== Category ==========*/

@use "../abstracts";

.category {
    margin-top: 80px;
    padding: 80px 0;

    @include abstracts.screen(tablet) {
        margin-top: 20px;
        padding: 40px 0;
    }

    &__row {
        @include abstracts.screen(mobile-small) {
            padding-left: 18px;
            padding-right: 18px;
        }
    }

    &__top {
        margin-left: auto;
        margin-right: auto;

        text-align: center;
    }

    &__desc {
        margin-left: auto;
        margin-right: auto;
        max-width: min(470px, 100%);
    }

    mark::after {
        bottom: -13%;

        width: 104%;
        height: 44%;
    }

    &__list {
        display: grid;
        grid-template-columns: repeat(12, 1fr);
        gap: 30px;

        margin-top: 70px;

        @include abstracts.screen(tablet) {
            margin-top: 38px;
            // grid-template-columns: 1fr;
            gap: 16px;
        }
    }

    &-item {
        position: relative;

        &__image {
            border-radius: 8px;
            overflow: hidden;
        }

        &__img {
            display: block;
            width: 100%;
            object-fit: cover;

            transition-property: scale;
            transition-duration: 0.5s;
            transition-timing-function: ease;
        }

        &__info {
            container-type: size;

            position: absolute;
            bottom: 0;
            left: 0;
            right: 0;

            display: flex;
            flex-direction: column;
            justify-content: center;

            height: 30%;
            padding: 0 24px;
            border-radius: 0 0 8px 8px;
            backdrop-filter: blur(10px);

            background: rgba(255, 255, 255, 0.2);
            color: #fff;
        }

        &:first-child &__info {
            height: calc(30% / 2);
        }

        &__heading {
            display: flex;
            align-items: center;
            column-gap: 8px;

            font-size: clamp(1.2rem, 22cqh, 1.8rem);
            font-weight: 600;
            line-height: 1.67;

            &::after {
                content: url(../../assets/icons/arrow-right.svg);

                @include abstracts.flexCenter;

                width: 0.78em;
                height: 0.78em;
                border-radius: 50%;

                transition-property: transform;
                transition-duration: 0.5s;
                transition-timing-function: ease;
            }
        }

        &__desc {
            font-size: clamp(1rem, 17cqh, 1.4rem);
            line-height: 1.71;
        }

        &:hover &__img {
            scale: 1.1;
        }

        &:hover &__heading::after {
            transform: translateX(100%);
        }
    }

    &-item:nth-child(1) {
        grid-column: 1 / span 4;
        grid-row: 1 / span 2;
    }

    &-item:nth-child(2) {
        grid-column: 5 / span 5;
    }

    &-item:nth-child(3) {
        grid-column: 10 / span 3;
    }

    &-item:nth-child(4) {
        grid-column: 5 / span 3;
    }

    &-item:nth-child(5) {
        grid-column: 8 / span 5;
    }

    &__btn {
        margin: 55px auto 0;
    }

    @include abstracts.screen(mobile) {
        &-item:nth-child(1) {
            grid-column: 1 / span 12;
            grid-row: 1;
        }

        &-item:nth-child(2) {
            grid-column: 1 / span 12;
        }

        &-item:nth-child(3) {
            grid-column: 2 / span 10;
        }

        &-item:nth-child(4) {
            grid-column: 2 / span 10;
        }

        &-item:nth-child(5) {
            grid-column: 1 / span 12;
        }

        &__btn {
            margin: 38px auto 0;
        }
    }
}
