/*========== Hero ==========*/
@use "../abstracts";

.hero {
    display: flex;
    align-items: center;

    height: calc(100vh - 96px);

    background: abstracts.$background-color;

    @include abstracts.screen(tablet) {
        height: auto;
        padding: 42px 3px 32px;
    }

    &__row {
        align-items: center;
    }

    &__media {
        display: flex;
        justify-content: space-between;

        position: relative;
    }

    &-col {
        position: relative;

        width: calc((100% - 30px) / 2);

        @include abstracts.responsive-font(0.591rem, 1rem);

        &:nth-child(2) .hero__image {
            margin-top: 2.8em;
        }

        @include abstracts.screen(mobile) {
            width: calc((100% - 18px) / 2);
        }
    }

    &__image {
        position: relative;

        border-radius: 8px;
        overflow: hidden;
    }

    &__image-info {
        display: flex;
        flex-direction: column;
        justify-content: center;
        row-gap: 6px;

        position: absolute;
        bottom: 16px;
        left: 50%;
        transform: translateX(-50%);

        width: 72%;
        height: 20%;
        border-radius: 9px;
        background: rgba(255, 255, 255, 0.4);
        box-shadow: 0px 12px 44px 0px rgba(0, 0, 0, 0.07);
        backdrop-filter: blur(5px);
    }

    &__image-name,
    &__image-title {
        text-align: center;
        line-height: 1;
    }

    &__image-name {
        @include abstracts.responsive-font(0.83rem, 1.4rem, 576px, 768px);

        color: abstracts.$heading-color;

        font-weight: 600;
    }

    &__image-title {
        @include abstracts.responsive-font(0.71rem, 1.2rem, 576px, 992px);

        color: abstracts.$text-color;
    }

    &__img {
        aspect-ratio: 270 / 302;
        width: 100%;
        height: auto;
        object-fit: cover;
    }

    &__audio {
        @include abstracts.flexCenter;
        column-gap: 12px;

        position: relative;
        margin-left: auto;
        margin-right: auto;
        margin-top: -12%;
        z-index: 5;

        width: 72%;
        padding: 17px 0;
        border-radius: 9px;

        background: #fff;
    }

    &__audio-btn {
        @include abstracts.flexCenter;

        width: 26px;
        height: 26px;
        padding: 8px;
        border-radius: 50%;
        border: 1px solid abstracts.$primary-color;

        cursor: pointer;
    }

    &__audio-icon {
        color: abstracts.$primary-color;
    }

    &__audio-volume {
        width: 57%;
        object-fit: cover;
    }

    &__client {
        // position: absolute;
        margin-top: 2.3em;

        @include abstracts.responsive-font(0.591rem, 1rem);
    }

    &__client-text {
        color: abstracts.$heading-color;
        font-size: 1.4em;
        font-weight: 600;
        line-height: 1.71;
    }

    &__client-avatars {
        display: flex;

        margin-top: 10px;
    }

    &__client-avatar {
        @include abstracts.flexCenter;

        width: 4.8em;
        height: 4.8em;
        border-radius: 50%;
        border: 0.2em solid #fff;
        object-fit: cover;

        font-size: 1.2em;
        font-weight: 600;
        line-height: 1.83;

        background: abstracts.$heading-color;
        color: #fff;
    }

    &__client-avatar + &__client-avatar {
        margin-left: -1.8em;
    }

    &__stat {
        @include abstracts.flexCenter;
        flex-direction: column;
        row-gap: 0.4em;

        position: relative;
        margin-top: 0.8em;
        margin-left: 11.8em;

        width: 8.2em;
        height: 8.2em;
        border-radius: 50%;

        @include abstracts.responsive-font(0.591rem, 1rem);

        background: abstracts.$secondary-color;

        &::before,
        &::after {
            content: "";
            position: absolute;

            width: 55%;
            height: 44%;

            background-image: url(../../assets/img/dash.svg);
            background-repeat: no-repeat;
            background-size: contain;
        }

        &::before {
            top: 44%;
            left: -72%;
        }

        &::after {
            bottom: -58%;
            right: -8%;
        }
    }

    &__stat-text--top {
        color: #fff;
        font-size: 1.4em;
        font-weight: 800;
        line-height: 1;
    }

    &__stat-text--bottom {
        color: #ffefe7;
        font-size: 1em;
        font-weight: 500;
        line-height: 1;
    }

    &__app-group {
        display: flex;
        align-items: center;
        column-gap: 1.8em;

        margin-top: 1.2em;

        @include abstracts.responsive-font(0.591rem, 1rem);
    }

    &__app {
        width: 2.8em;
        height: 2.8em;
    }

    &__info {
        @include abstracts.screen(tablet) {
            margin-top: 40px;
        }
    }

    &__cta-group {
        display: flex;
        align-items: center;
        column-gap: 28px;

        margin-top: 40px;

        @include abstracts.screen(tablet) {
            margin-top: 28px;
        }
    }

    &__cta {
        display: flex;
        align-items: center;
        column-gap: 8px;

        font-size: 1.8rem;
        font-weight: 600;
        line-height: 1.67;

        color: abstracts.$heading-color;

        transition: color 0.5s ease;

        &:hover {
            color: abstracts.$primary-color;
            cursor: pointer;
        }

        &:hover &-icon-wrap {
            background-color: abstracts.$primary-color;
        }
    }

    &__cta-icon-wrap {
        @include abstracts.flexCenter;

        width: 18px;
        height: 18px;
        border-radius: 50%;

        background: abstracts.$heading-color;

        transition: background-color 0.5s ease;
    }

    &__cta-icon {
        color: abstracts.$background-color;
    }
}
